In [1]:
import nltk
nltk.download('brown')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package brown to /Users/mnatali/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package punkt to /Users/mnatali/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /Users/mnatali/nltk_data...

True

In [3]:
import pandas as pd
df = pd.read_csv("data/test.csv", encoding = "latin-1")
df = df[["text", "sentiment"]]
df.head()

                                                text sentiment
0  Last session of the day  http://twitpic.com/67ezh   neutral
1   Shanghai is also really exciting (precisely -...  positive
2  Recession hit Veronique Branquinho, she has to...  negative
3                                        happy bday!  positive
4             http://twitpic.com/4w75p - I like it!!  positive

In [12]:
from textblob import TextBlob

def textblob_score(text):
    blob = TextBlob(text)
    return blob.sentiment
df["textblob"]= df["text"].apply(textblob_score)
df["polarity"] = df["textblob"].apply(lambda x: x.polarity)

def textblob_label(polarity):
    if polarity >= 0.05:
        return "positive"
    elif polarity <= -0.05:
        return "negative"
    else:
        return "neutral"
df["label"] = df["polarity"].apply(textblob_label)

TP = FP = TN = FN = T0 = F0 = 0
def compare(row):
    global TP, FP, TN, FN, T0, F0

    trueVal = row["sentiment"]
    textblobVal = row["label"]

    if textblobVal == "positive":
        if textblobVal == trueVal:
            TP += 1
        else:
            FP += 1
    elif textblobVal == "negative":
        if textblobVal == trueVal:
            TN += 1
        else:
            FN += 1
    else:
        if textblobVal == trueVal:
            T0 += 1
        else:
            F0 += 1

df.apply(compare, axis = 1)
accuracy = (TP+TN+T0)/(TP+FP+TN+FN+T0+F0)

print("Accuracy: ", accuracy)
df.head()

Accuracy:  0.5953593661573288

,text,sentiment,textblob,polarity,label
0,Last session of the day http://twitpic.com/67ezh,neutral,"(0.0, 0.06666666666666667)",0.0000,neutral
1,Shanghai is also really exciting (precisely -...,positive,"(0.16249999999999998, 0.8)",0.1625,positive
2,"Recession hit Veronique Branquinho, she has to...",negative,"(0.0, 0.5)",0.0000,neutral
3,happy bday!,positive,"(1.0, 1.0)",1.0000,positive
4,http://twitpic.com/4w75p - I like it!!,positive,"(0.0, 0.0)",0.0000,neutral